.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3a4b7c;
    padding: 10px 20px;
}
.navTitle{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}